Screen {
    background: rgb(214, 214, 214);
    color: white;
    align: center middle;
}

#vg_botoes {
    background: green; 
}

#vg_botoes Button{
    margin: 0;  
    height: 60%;
    width: 100%;
    min-width: 0;
    min-height: 0;
    border: none;   
}


Select { 
    width: 20%;
    margin: 1;
}

#hg_arquivos {
    width: 100%;
    background: black 50%;
    height: auto;
    margin: 1 1 0 1;
}

#hg_arquivos Static {
    width: auto;
    height: auto;
    border: 10% black;
}

#hg_arquivos Static:hover {
    background: red 20%;
}

#hg_editar_arquivos {
    content-align: center middle;
    margin-left: 2;
}

#hg_editar_arquivos Static{
    color: black;
    margin-bottom: 1;
}

#bot {
    background: black 25%;
    margin: 2;
}

#bot .user {
    text-align: right;
    margin-bottom: 1;
    border: 5% black;
    margin: 0 2 1 2;
    color: black;
}

#bot Static {
    margin: 0 2 1 2;
    border: 5% black;
    width: 100%;
    color: black;
}

#hg_bot {
    height: 90%;
    margin: 2;
}

#hg_user {
    height: 20%;
    dock: bottom;
    margin: 1;
    width: 100%;
    content-align: center middle;
}

VerticalGroup {
    height: 100%;
    width: 8%;
}