Screen {
    background: rgb(214, 214, 214);
    color: white;
    align: center middle;
}


Select { 
    width: 20%;
    margin: 1;
}


#hg_editar_arquivos {
    content-align: center middle;
    margin-left: 2;
}

#hg_editar_arquivos Static{
    color: black;
    margin-bottom: 1;
}



Button {
    min-height: 0;
    height: 50%;
    margin-bottom: 1;
}

#bot {
    background: black 25%;
    margin: 2;
}

#bot .user {
    text-align: right;
    margin-bottom: 1;
    border: 5% black;
    margin: 0 2 1 2;
    color: black;
}

#bot Static {
    margin: 0 2 1 2;
    border: 5% black;
    width: 100%;
    color: black;
}

#hg_bot {
    height: 90%;
    margin: 2;
}

#hg_user {
    height: 15%;
    dock: bottom;
    margin: 2;
    width: 100%;
    content-align: center middle;
}

VerticalGroup {
    height: 100%;
    width: 8%;
}