
#vg_botoes {
    border: none;
}

#vg_botoes Button{
    margin: 0;  
    height: 60%;
    width: 100%;
    min-width: 0;
    min-height: 0;
    border: tall 10% black;   
}

Select { 
    width: 22%;
}


#hg_arquivos {
    width: 100%;
    background: black 50%;
    height: auto;
    margin: 0 2 1 2;
    overflow: auto auto;
}

#hg_arquivos Static {
    width: auto;
    height: auto;
    border: 10% black;
}

#hg_arquivos Static:hover {
    background: red 20%;
}

#data {
    dock: bottom;
    width: 100%;
    height: 5%;
    background: black 50%;
    content-align: center middle;
    align: center middle;
}

#data Static {
    width: auto;
    height: auto;
    color: black;
    text-align: center;
}

#hg_editar_arquivos {
    content-align: center middle;
    margin-left: 2;
}

#hg_editar_arquivos Static{
    color: black;
    margin-bottom: 1;
}

#bot {
    background: black 25%;
    margin: 2;
    border:  tall 40% black;
}

#bot .user {
    text-align: right;
    margin-bottom: 1;
    border: 5% black;
    margin: 0 2 1 2;
    color: black;
}

#bot Static {
    margin: 0 2 1 2;
    border: 5% black;
    width: 100%;
    color: black;
}

#hg_bot {
    height: 90%;
    margin: 2;
}

#hg_user {
    height: 20%;
    dock: bottom;
    margin: 0 2 3 2;
    width: 100%;
    content-align: center middle;
    # border:  tall 10% black;
}

VerticalGroup {
    height: 100%;
    width: 8%;
}

#h_top {
    margin: 1 2 0 2;
    height: auto;
}

#h_top Input{
  width: auto;
  min-width: 20%;
}


App.tamanho-34 {
    #user {
        width: 50%;
    }
    #hg_editar_arquivos {
        width: 28%;
    }
    #vg_botoes {
        width: 24%;
    }
    Select {
        width: 70%;
    }
    Footer {
        # background: green;
    }
}

App.tamanho-64 {
    #user {
        width: 67%;
    }
    #hg_editar_arquivos {
        width: 14%;
    }
    #vg_botoes {
        width: 17%;
    }
    Select {
        width: 35%;
    }
    Footer {
        # background: purple;
    }
}

App.tamanho-98 {
    #user {
        width: 72%;
    }
    #hg_editar_arquivos {
        width: 14%;
    }
    #vg_botoes {
        width: 15%;
    }
    Select {
        width: 30%;
    }
    Footer {
        # background: orange;
    }
}

#bot VerticalGroup Static{
    border: none;
    margin: 0 2 2 3;
}

#bot .stt_resposta_bot {
    margin: 0 2 0 2;
    border: 5% black;
    width: 100%;
    color: black;
}

#bot VerticalGroup {
    width: 100%;
    height: auto;
}

#recarregar {
    width: 3%;
    min-width: 0;
}


DiffScreen {
    align: center middle;
}

#dialog {
    padding: 0 1;
    width: 90%;
    height: 90%;
    border: thick $background 80%;
    background: rgba(229, 228, 228, 1);
    align: center middle;
    text-align: center;
    content-align: center middle;
}


#dialog #diff-container {
    width: 2000;
    height: 200;
    background: black 70%;
}

DiffScreen Header {
    height: 7%;
}

.stt_diff_bot {
    margin: 2;
    background: rgba(89, 39, 39, 0.71);
}