ChatScreen #vg_botoes {
    border: none;
    Button{
        margin: 0;  
        height: 60%;
        width: 100%;
        min-width: 0;
        min-height: 0;
        border: tall 10% black;   
    }
}

ChatScreen {
    layers: below above;
    
}

ChatScreen ContainerComandos {
    layer: above;
    max-height: 40%;
    min-height: 20%;
    color: black;
    max-width: 100%;
    min-width: 92%;
    width: auto;
    height: auto;
    margin-right: 130;
    margin-top: 10;
    border: solid 30% black;
    Static {
        color: black;
        margin: 1;
    }
    .focused {
        border: solid 30% red;
    }
    scrollbar-size: 2 1;
}

ChatScreen Select { 
    width: 22%;
}


ChatScreen #hg_arquivos {
    width: 100%;
    background: black 50%;
    height: auto;
    margin: 0 2 1 2;
    overflow: auto auto;
    layer: below;
    Static {
        width: auto;
        height: auto;
        border: 10% black;
        &:hover {
            background: red 20%;
        }
    } 
}

ChatScreen #data {
    dock: bottom;
    width: 100%;
    height: 5%;
    background: black 50%;
    content-align: center middle;
    align: center middle;
    Static {
        width: auto;
        height: auto;
        color: black;
        text-align: center;
    }
}

ChatScreen #hg_editar_arquivos {
    content-align: center middle;
    margin-left: 2;
    Static{
        color: black;
        margin-bottom: 1;
    }
}

ChatScreen #bot {
    background: #f8f8f89a;
    margin: 2;
    border:  tall 40% black;
    scrollbar-background: rgba(56, 33, 33, 0.75);
    scrollbar-color: black;
    scrollbar-size: 2 1;
    layer: below;
    VerticalGroup Static{
        border: none;
        margin: 0 2 2 3;
    }
    .user {
            text-align: right;
            margin-bottom: 1;
            border: 5% black;
            margin: 0 2 1 2;
            color: black;
    }
    Static {
            margin: 0 2 1 2;
            border: 5% black;
            width: 100%;
            color: #333333 ;
    }
    .stt_resposta_bot {
        margin: 0 2 0 2;
        border: 5% black;
        width: 100%;
        color: black;
    }
    VerticalGroup {
        width: 100%;
        height: auto;
    }
}


ChatScreen #hg_bot {
    height: 90%;
    margin: 2;
}

ChatScreen #hg_user {
    height: 20%;
    dock: bottom;
    margin: 0 2 3 2;
    width: 100%;
    content-align: center middle;
    layer: below;
    # border:  tall 10% black;
}

ChatScreen VerticalGroup {
    height: 100%;
    width: 8%;
}

ChatScreen #h_top {
    margin: 1 2 0 2;
    height: auto;
    Input{
        width: auto;
        min-width: 20%;
    }
}


ChatScreen App.tamanho-34 {
    #user {
        width: 50%;
    }
    #hg_editar_arquivos {
        width: 28%;
    }
    #vg_botoes {
        width: 24%;
    }
    Select {
        width: 70%;
    }
    Footer {
        # background: green;
    }
}

ChatScreen App.tamanho-64 {
    #user {
        width: 67%;
    }
    #hg_editar_arquivos {
        width: 14%;
    }
    #vg_botoes {
        width: 17%;
    }
    Select {
        width: 35%;
    }
    Footer {
        # background: purple;
    }
}

ChatScreen App.tamanho-98 {
    #user {
        width: 72%;
    }
    #hg_editar_arquivos {
        width: 14%;
    }
    #vg_botoes {
        width: 15%;
    }
    Select {
        width: 30%;
    }
    Footer {
        # background: orange;
    }
}

ChatScreen #recarregar {
    width: 3%;
    min-width: 0;
    layer: below;
}


ChatScreen DiffScreen {
    align: center middle;
    layer: below;
}

ChatScreen #dialog {
    padding: 0 1;
    width: 90%;
    height: 90%;
    border: thick $background 80%;
    background: rgba(229, 228, 228, 1);
    align: center middle;
    text-align: center;
    content-align: center middle;
    layer: below;
    #diff-container {
        width: 2000;
        height: 200;
        background: black 70%;
        layer: below;
    }
}

ChatScreen DiffScreen Header {
    height: 7%;
    layer: below;
}

ChatScreen .stt_diff_bot {
    layer: below;
    margin: 2;
    background: rgba(89, 39, 39, 0.71);
}

ChatScreen Tabs {
    layer: below;
}